.navigation {
    margin: auto;
    background-color: #053600;
    box-shadow: 2px 2px 5px 1px #00000080;
    max-width: 90%;
}

@media (max-width: 768px) {

    .navigation {
        max-width: 300px;
    }
}

.navigation__list {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0px;
}

@media (max-width: 768px) {

    .navigation__list {
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    .navigation__listItem {
        padding: 5px;
    }
}

.navigation__link {
    color: white;
    text-decoration: none;
}

.navigation__link:visited {
    color: #918989;
}

.navigation__link:focus {
    outline: 2px solid currentColor;
}

.navigation__link:hover {
    color: #ff0000;
    border-bottom: 1px solid;
    outline: none;
}